/* styles.css */

body {
  background-color: beige;
 
}
.banner img {
  width: 100%; /* Assure que l'image de la bannière prend la largeur complète de son conteneur */
  /*height: 2.5cm;  Hauteur fixe de 2,5 cm */
}
h1 {
  font-size: 36px;
  text-align: center;
}
#presentation {
  margin: 20px;
  font-size: 18px;
}
#image-upload {
  margin: 20px;
}

.presentation {
  text-align: justify;
}