<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page de Data Camp</title>
    <link rel="stylesheet" href="static/css/page.css"> <!-- Ajout de la liaison vers le fichier CSS externe -->
</head>
<body>
    <header>
        <div class="banner">
            <img src="static/images/yeuxbaniere.jpg" alt="Bannière avec des yeux">
        </div>
    </header>
    
    <div class="title">
        <h1>Data Camp</h1>
    </div>

    <div id="presentation">
        <p>L'importance du Dépistage Précoce du Cancer des Yeux <br>

            Le cancer est une maladie redoutable qui peut affecter n'importe quelle partie du corps, y compris les yeux. Le cancer oculaire, bien que moins courant que d'autres types de cancer, peut avoir des conséquences graves s'il n'est pas détecté à un stade précoce. C'est pourquoi le dépistage du cancer des yeux revêt une importance capitale. Comprendre cette maladie, ses symptômes et les meilleures méthodes de dépistage est essentiel pour préserver notre vision et notre santé oculaire.
            
            Le cancer oculaire peut se développer dans différentes parties de l'œil, notamment la rétine, la cornée, le cristallin, la sclérotique, ou d'autres structures. Il peut être sous la forme de mélanome de l'œil, de rétinoblastome (cancer de la rétine le plus courant chez les enfants), ou d'autres types moins fréquents. Le cancer oculaire peut survenir à tout âge, mais il est plus fréquent chez les adultes âgés.
            
            <br><br>Pourquoi est-il essentiel de se faire dépister ? 
            
            <br>Détection Précoce : Le cancer des yeux, comme tout cancer, est plus facile à traiter lorsqu'il est détecté à un stade précoce. Un diagnostic précoce peut aider à sauver la vision et la vie du patient.
            
            <br>Prévention de la Perte de Vision : Les symptômes du cancer oculaire peuvent être subtiles, ce qui rend la détection précoce encore plus cruciale pour prévenir la perte de vision. Ignorer les symptômes peut entraîner une altération sévère de la vision.
            
            <br>Traitement Approprié : Un diagnostic précoce permet d'initier rapidement un traitement adapté, qu'il s'agisse de la chirurgie, de la radiothérapie, de la chimiothérapie, ou d'autres thérapies ciblées, selon le type et le stade du cancer.
        </p>
    </div>

    <div id="image-upload">
        <h2>Téléverser des images (.png uniquement)</h2>
        <form action="upload.php" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".png" required>
            <input type="submit" value="Téléverser">
        </form>
    </div>
</body>
</html>
