<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page de Data Camp</title>

    <link rel="stylesheet" href="static/css/page.css"> 
    <link rel="stylesheet" type="text/css" href="présentation.css">
    
</head>
<body>
    <header>
        <div class="banner">
            <img src="static/images/yeuxbaniere2.jpg" alt="Bannière avec des yeux">
        </div>
    </header>
    <div class="title">
        <h1>Eye Cancer image classifier</h1>
    </div>
    
    <!-- Barre de navigation en haut -->
    <div class="navbar">
        <a href="page1.html">Page 1</a>
        <a href="page2.html">Page 2</a>
        <a href="page3.html">Page 3</a>
    </div>

    

    <!-- Barre de navigation en haut -->
    <div class="navbar">
        <a href="page1.html">Page 1</a>
        <a href="page2.html">Page 2</a>
        <a href="page3.html">Page 3</a>
    </div>

    <div class="presentation">
        <p>Cancer is a formidable disease that can affect any part of the body, including the eyes.

            While eye cancer is less common than other types of cancer, it can have serious consequences if not detected at an early stage. 
            
            That's why screening for eye cancer is of paramount importance. Understanding this disease, its symptoms, and the best screening methods is essential for preserving our vision and ocular health.
            <br><br>Why is early screening essential?
            
            <br>Early Detection: Eye cancer, like all cancers, is easier to treat when detected at an early stage. Early diagnosis can help save the patient's vision and life.
            
            <br>Prevention of Vision Loss: The symptoms of eye cancer can be subtle, making early detection even more crucial to prevent vision loss. Ignoring the symptoms can lead to severe impairment of vision.
            
            <br>Appropriate Treatment: Early diagnosis allows for the prompt initiation of suitable treatment, whether it's surgery, radiotherapy, chemotherapy, or other targeted therapies, depending on the type and stage of cancer.
        </p>
    </div>

    <div id="image-upload">
        <h2>Analyseur d'imagerie médicale de l'oeil (.png uniquement)</h2>
        <form action="/uploads" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept=".png" required>
            <input type="submit" value="Téléverser">
        </form>

        {% if uploaded_image %}
        <h2>Downloaded image :</h2>
        <img src="{{ url_for('static', filename='uploads/' + uploaded_image) }}" alt="Image">
        {% endif %}
    </div>
</body>
</html>
